#screen1{
    font-family: 'Courier New', Courier, monospace;
    margin:2%;
    padding: 1%;
    height:200px;
    background-image:linear-gradient(to bottom right,lavender, rgb(238, 131, 206),lightgreen) ;
    display:block; 
   
} 
#screen2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:2%;
    padding:1%;
    height:200px;
    background-image:linear-gradient(to bottom left, rgb(9, 129, 15),yellow) ;
    display:none; 
    transition-duration: 2s;
    transition-delay: .5s;
} 
#screen2:hover{
    background-image:linear-gradient(to right, blue,maroon) ;
    color:white;
    font-weight: bold;
}